@using GeradorDeTestes.WebApp.Extensions
@model VisualizarTestesViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Testes";
}

<p>
    <a class="btn btn-primary px-4" href="/testes/gerar">
        <i class="bi bi-plus"></i>
        Cadastrar Novo/a
    </a>
</p>

<hr />

<div class="d-flex flex-wrap gap-2">
    @foreach (var item in Model.Registros)
    {
        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">@item.Titulo</h5>

                        <p class="card-text mb-1">
                            <strong>Matéria:</strong> @item.Materia
                        </p>
                        <p class="card-text mb-1">
                            <strong>Disciplina:</strong> @item.Disciplina
                        </p>
                        <p class="card-text mb-1">
                            <strong>Série:</strong> @item.Serie.GetDisplayName()
                        </p>
                        <p class="card-text">
                            <strong>Tipo de Teste:</strong> @item.TipoTeste
                        </p>
                    </div>
                    <span class="d-flex gap-1 justify-content-end mt-4">
                        <a href="/testes/detalhes/@item.Id" class="btn btn-secondary">
                            <i class="bi bi-search"></i>
                        </a>
                        <a href="/testes/duplicar/@item.Id" class="btn btn-primary">
                            <i class="bi bi-files"></i>
                        </a>
                        <a href="/testes/excluir/@item.Id" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    }
</div>