@model DetalhesQuestaoViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Detalhes de Questão";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Detalhes</h3>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Id" class="control-label fs-5">Id:</label>
                    <input name="Id" class="form-control" value="@Model.Id" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Materia" class="control-label fs-5">Matéria:</label>
                    <input name="Materia" class="form-control" value="@Model.Materia" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Enunciado" class="control-label fs-5">Enunciado:</label>
                    <input name="Enunciado" class="form-control" value="@Model.Enunciado" readonly disabled />
                </div>
                
                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Resposta" class="control-label fs-5">Respostas:</label>

                @foreach (var alternativa in Model.Alternativas)
                {
                        var inputClass = alternativa.Correta
                        ? "form-control border-success fw-bold"
                        : "form-control";
                        <input name="Resposta" class="@inputClass" value="@alternativa.Resposta" readonly disabled />
                    }
                </div>


                <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                    <a href="/questoes">Voltar para a listagem</a>
                </div>

            </div>
        </div>
    </div>
</div>